#heading1{
    text-align: center;
    font-size: 100px;
}
#start1{
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(210, 151, 227);
    border-radius: 20px;
    margin-top: 100px;
}#body1{
    text-align: center;
    background-color:cornflowerblue;
}
.q{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.a{
    font-size: 20px;
    width: 200px;
}
#body2,#body3{
    background-color: cornflowerblue;
}
#check{
    font-size: 50px;
    border-radius: 50px;
    background-color: darkgreen;

}